/* ------ Sticky-Navigation-Scrollspy-Smooth-Scroll-jQuery-Tacky ------ */
nav {
  font-size: 15px;
  /*line-height: 70px;*/
  color: #ffffff;
  float: left;
  width: 85%; text-align: center;
  padding: 0px 7.5% 0px 7.5%;  transition: 0.5s all; z-index: 9999; font-weight: 400;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
}
nav.tacked {
  position: fixed;
  top: 0;
}
nav .toggle {
  display: none;
}
nav ul  {
  padding: 0; margin: 0 130px 0 0; list-style: none; display: block
}
nav li {
  display: inline-block; padding: 20px 0; 
}
nav a {
  color: #ffffff;
  display: block;
  padding: 20px 18px;
  text-decoration: none;
}
nav li.active, nav li:hover {
background: #FBAE2D; color: #000!important
}
.active{background: #FBAE2D; color: #000!important}

.contact-btn{ margin:33px 0 0; color: #000000; background-color: #FBAE2D; position: absolute; top: 0; right:7.5%}
.contact-btn a{ color: #000; text-decoration: none; padding: 7px 20px}
.contact-btn-about{ padding: 20px 20px; font-size: 26px; background-color:#FBAE2D; position: absolute; top: 0; right:0}
.contact-white{color:white}
.shrink {/*border-bottom: 1px solid #e2e2e2*/ background: #000; transition: all 2s ease;}
.shrink li{ padding: 5px 0 5px 0}
.shrink .logo{padding: 25px 0 0; transition: all 0.5s ease;}
.shrink .contact-btn{margin:18px 0 0; transition: all 0.5s ease;}
.shrink .contact-btn a{padding: 7px 20px; transition: all 0.5s ease;}
.shrink .contact-btn-about{ padding: 5px 20px 4px; transition: all 0.5s ease;}
.nav-right-space{ padding-right:50px}

/*@media(max-width: 1440px) {*/
@media(max-width: 1680px) {
nav {
  font-size: 15px;
}
nav ul  {
  margin: 0 135px 0 0
}
nav a {
  padding: 20px 12px
 }
}
@media(max-width: 1280px) {
nav {width: 95%; padding: 0 2.5% 0 2.5%;}
nav a {padding: 20px 8px}
.contact-btn{ margin:33px 0 0; right:2.5%}
}


/* ------ Ipad & Mobile Navigation ------ */
@media(max-width: 1118px) {
  .logo{padding: 25px 0 0}
  nav {
	width: 93%;  
    height: 80px;
    line-height: 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
	padding: 0px 3% 0px 4%;
  }
  nav ul  {
  	margin: 0;
  }
  nav a {
  font-size: 28px;
  padding: 30px 18px;
  }
	
  nav.open {
    height: 100%;
  }

  nav .toggle {
    cursor: pointer;
    display: block;
    height: 40px;
    float: right;
    font-size: 31px;
    padding: 20px 0 0;
    width: 40px;
	color:#FBAE2D; text-align: center
  }

  nav .toggle:hover {
    color:#FBAE2D;
  }

  nav .toggle .icon-remove {
    display: none;
  }

  nav.open .toggle .icon-remove {
    display: block;
    font-size: 34px;
    margin-top: 10px;
    margin-right: 2px;
  }

  nav.open .toggle .icon-align-justify {
    display: none;
  }

  nav ul {
    margin-top: 140px !important;
    text-align: center;
  }

  nav li {
    display: block; padding: 0; 
  }
  .contact-btn{ display:none}
}

@media(max-width: 768px) {
  nav .toggle {
    font-size: 24px;
    padding: 20px 0 0;
  }
 nav ul {
    margin-top: 150px !important;
    text-align: center;
  }
  nav a {
  font-size: 21px;
  padding: 15px 18px;
  }
}
@media(max-width: 700px) {
  nav .toggle {
    font-size: 24px;
    padding: 20px 0 0;
  }
 nav ul {
    margin-top: 100px !important;
    text-align: center;
  }
 
  nav a {
  font-size: 18px;
  padding: 5px 18px;
  }
}
